svg {
    border: #000000 4px solid;
  }
html {
    background-color: #ebebeb;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
p {
  font-size: 14px;  
  text-align: center;
}
h4 {
    text-align: center;
}
select id{
    text-align: center;
}
div {
    text-align: center;
}